block footer
    include ../icons/icon-coin.pug
    include ../icons/icon-left-right.pug
    include ../icons/icon-user.pug

    footer.footer
        ul.footer__nav-list
            li.footer-nav-element(class=page === 'index' ? 'footer-nav-element_active' : '')
                a.footer-nav-element__link(href='/' class=page === 'index' ? 'footer-nav-element__link_active' : '')
                    +icon-coin('footer-nav-element__icon')
                    span Баланс
            li.footer-nav-element(class=page === 'history' ? 'footer-nav-element_active' : '')
                a.footer-nav-element__link(href='history.html' class=page === 'history' ? 'footer-nav-element__link_active' : '')
                    +icon-left-right('footer-nav-element__icon')
                    span История
            li.footer-nav-element(class=page === 'profile' ? 'footer-nav-element_active' : '')
                a.footer-nav-element__link(href='profile.html' class=page === 'profile' ? 'footer-nav-element__link_active' : '')
                    +icon-user('footer-nav-element__icon')
                    span Профиль
