include ../icons/icon-eye-closed.pug
include ../icons/icon-eye-open.pug
include ../icons/icon-cross.pug

mixin pass-input({label, size='m', placeholder, className, forceAlert, alert, addon})
    - var classes = size + ' ' + className;
    - var inputForceClass = forceAlert ? 'text-input__input_force-alert' : ''

    .text-input.js-input-node(class=classes)
        if label
            .text-input__label= label
        .text-input__input-wrapper
            input.text-input__input.js-input(class=inputForceClass type="password" placeholder=placeholder)
            button.text-input__show.js-input-show(type="button")
                +icon-eye-closed('text-input__icon js-input-icon-closed')
                +icon-eye-open('text-input__icon text-input__icon_open js-input-icon-open hidden')
            button.text-input__reset.js-input-reset(type="button")
                +icon-cross('text-input__icon')
        if alert
            .text-input__alert.js-input-alert= alert
        if addon
            .text-input__addon= addon
        if forceAlert
            .text-input__force-alert= forceAlert
